<div> 
    <div class="content">
      <div class="vertical-split">
        <div class="card bg-dark text-white">
          <div class="card-header">
            Account
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/#" class="card-link">Card link</a>
          </div>
        </div>
        <div class="card bg-dark text-white">
          <div class="card-header">
            Transactions
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/#" class="card-link">Card link</a>
          </div>
        </div>
      </div>
      <div class="vertical">
        <div class="card bg-dark text-white">
          <div class="card-header">
            Book
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/#" class="card-link">Card link</a>
          </div>
        </div>
      </div>
      <div class="vertical-split">
        <div class="card bg-dark text-white">
          <div class="card-header">
            Transactions
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/#" class="card-link">Card link</a>
          </div>
        </div>
        <div class="card bg-dark text-white">
          <div class="card-header">
            Card Title
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/#" class="card-link">Card link</a>
          </div>
        </div>
      </div>
      <div class="vertical">
        <div class="card bg-dark text-white">
          <div class="card-header">
            Card Title
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/#" class="card-link">Card link</a>
          </div>
        </div>
      </div>
    </div>
  </div>