<h5>Ticker</h5>
<form [formGroup]="tickerForm" (ngSubmit)="submitTicker()" class="container col-sm-4">
  <!-- // formGroup initializes the capturing of the form data for the ticker -->
  <!-- (ngSubmit)="submitTicker" for console log which can be founnd in the ticker.compenent.ts file-->

  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">
      Input ticker symbol:
    </label>
    <input formControlName="ticker" type="text" class="form-control" placeholder="AAPL" />
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-secondary mt-3">Next</button>
  </div>

</form>
